.inicio-Title{
    font-family: 'Zen Dots';
    background: linear-gradient(15deg, rgb(20, 40, 100) 20%, rgb(205, 255, 255) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 300%;
    margin: 10%;
    margin-left: -40%;
    margin-top: 10%;
    display: flex;
    filter: drop-shadow(0 0 5px rgba(95, 100, 175, 0.9))
            drop-shadow(0 0 50px rgba(75, 80, 155, 0.4));
    align-items: center;
    justify-content: center;
    transform: skewX(-10deg);
    position: relative;
    z-index: 1;
}

.inicio-SubTitle1{
    margin-top: -30%;
    margin-left: 47%;
    transform: skewX(-10deg);
    width: 45%;
    font-size: 160%;
    animation: typing 6s infinite alternate;
    font-family: 'Zen Dots';
}

@keyframes typing {
    0%{
        color: rgb(200, 255, 255);
        text-shadow: 0 0 5px rgba(190, 255, 255, 0.5);
    }
    100%{
        color: rgb(125, 255, 255);
        text-shadow: 0 0 10px rgba(40, 255, 255, 0.5),
                     0 0 50px rgba(150, 255, 255, 0.4);
    }
}
.SeccionCopia{
    margin-Top: 1%;
    margin-Left: 27%;
    display: flex;
    align-items: center;
}
.Enlace{
    font-Size: 150%;
    font-family: 'Zen Dots';
    color: rgb(3, 160, 223);
    margin-Top: 15%;
    margin-Left: 47%;
    text-Shadow: 0px 0 20px rgba(3, 161, 223, 0.44);
    font-Style: italic
}
.CajaUrl{
    font-family: 'Zen Dots';
    padding: 0.7%;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 3px solid transparent /*Define el espesor del borde*/;
    background-clip: padding-box, border-box; /* Divide el fondo entre relleno y borde*/
    background-origin: border-box; /*Define como se aplican los fondos*/
    background-image: linear-gradient(rgb(14, 113, 179), rgb(77, 14, 179)), /* Fondo interno*/
                      linear-gradient(rgb(14, 113, 179), rgb(77, 14, 179)); /*Bordes*/
}
.inputUrl{
    font-family: 'Zen Dots';
    padding: 0.7%;
    font-size: 100%;
    color: white;
    font-style: italic;
    border: 3px solid transparent /*Define el espesor del borde*/;
    background-clip: padding-box, border-box; /* Divide el fondo entre relleno y borde*/
    background-origin: border-box; /*Define como se aplican los fondos*/
    background-image: linear-gradient(rgb(0, 13, 79), rgb(20, 0, 79)), /* Fondo interno*/
                      linear-gradient(rgb(14, 113, 179), rgb(77, 14, 179)); /*Bordes*/
}
.copiarButton{
    color: rgba(255, 255, 255, 0.75);
    padding: 0.7%;
    font-size: 95%;
    border: 3px solid transparent /*Define el espesor del borde*/;
    background-clip: padding-box, border-box; /* Divide el fondo entre relleno y borde*/
    background-origin: border-box; /*Define como se aplican los fondos*/
    background-image: linear-gradient(rgb(0, 13, 79), rgb(20, 0, 79)), /* Fondo interno*/
                      linear-gradient(rgb(14, 113, 179), rgb(77, 14, 179)); /*Bordes*/
}
.copiarButton:hover{
    color: white;
    background-image: linear-gradient(rgb(14, 113, 179), rgb(77, 14, 179)), /* Fondo interno*/
                      linear-gradient(rgb(14, 113, 179), rgb(77, 14, 179));
}
.buscarButton{
    font-family: 'Zen Dots';
    font-style: italic;
    padding: 0.7%;
    font-size: 130%;
    color: rgb(255, 255, 255);
    border: 0px solid transparent /*Define el espesor del borde*/;
    background: linear-gradient(rgba(14, 113, 179, 0.3), rgba(77, 14, 179, 0.3));
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 3s;
}
.buscarButton:hover{
    background: linear-gradient(rgb(14, 113, 179), rgb(77, 14, 179));
}

.campoCodigo {
    position: relative;
    background: rgb(20, 20, 20);
    width: 60%;
    margin-top: 2%;
    margin-left: 21.5%;
    padding: 20px; /* Añade un poco de relleno para que el contenido no toque los bordes */
    overflow: hidden; /* Asegura que los bordes no sobresalgan del contenedor */
    z-index: 2;
}

.campoCodigo::before {
    content: '';
    position: absolute;
    top: -800%;
    left: -150%;
    width: 400%;
    height: 1700%;
    background: conic-gradient(rgb(15, 7, 87), transparent 180deg, rgb(152, 2, 172) 180deg, transparent);
    transform:scale(1.5);
    z-index: -2;
    animation: rotate-border 10s linear infinite;
}

.campoCodigo::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgb(20, 20, 20);
    z-index: -2;
}

@keyframes rotate-border {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.campoCodigoTexto{
    font-family: "Iceland", serif;
    color: white;
    font-size:large;
}